<?xml version="1.0"?>
<robot name="orion" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="orion_base.xacro"/>
    <xacro:include filename="orion_manipulator_scara.xacro"/>
    <joint name="base_scara_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_scara_link"/>
        <origin xyz="${(base_length/2) - 0.15} 0 ${base_height}" rpy="0 0 0"/>
    </joint>
    <xacro:include filename="orion_manipulator_scara_gazebo.xacro"/>
    <xacro:include filename="orion_base_gazebo.xacro"/>
    <xacro:include filename="sensors/camera.xacro"/>
    <xacro:include filename="sensors/imus.xacro"/>
    <xacro:include filename="sensors/lidar.xacro"/>
    <xacro:include filename="sensors/ultrassonic.xacro"/>
    <xacro:include filename="world_sensor_plugins.xacro"/>
</robot>