<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>scara_base_first_support_joint</joint_name>
            <topic>/model/orion/joint/scara_arm_joint/0/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>first_support_movable_scara_joint</joint_name>
            <topic>/model/orion/joint/scara_height_joint/0/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
            <use_force_commands>true</use_force_commands>
            <p_gain>1</p_gain>
            <i_gain>0</i_gain>
        </plugin>
    </gazebo> 

    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>arm_joint</joint_name>
            <topic>/model/orion/joint/scara_arm_joint/1/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>arm2_base_gripper_joint</joint_name>
            <topic>/model/orion/joint/scara_claw_rotation_joint/0/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>base_right_gripper_joint</joint_name>
            <topic>/model/orion/joint/scara_gripper/right/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>base_left_gripper_joint</joint_name>
            <topic>/model/orion/joint/scara_gripper/left/cmd_pos</topic>
            <initial_velocity>0</initial_velocity>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>scara_base_first_support_joint</joint_name>
            <joint_name>first_support_movable_scara_joint</joint_name>
            <joint_name>arm_joint</joint_name>
            <joint_name>arm2_base_gripper_joint</joint_name>
            <joint_name>base_right_gripper_joint</joint_name>
            <joint_name>base_left_gripper_joint</joint_name>
        </plugin>
    </gazebo>
</robot>