<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="base_scara_length" value="0.3"/>
    <xacro:property name="base_scara_width" value ="0.2"/>
    <xacro:property name="base_scara_height" value="0.10"/>
    <xacro:property name="scara_support_radius" value="0.075"/>
    <xacro:property name="scara_support_length" value="0.05"/>
    <xacro:property name="arm_length" value="0.35"/>
    <xacro:property name="arm_width" value ="0.08"/>
    <xacro:property name="arm_height" value="0.05"/>
    <xacro:property name="base_gripper_length" value="0.05"/>
    <xacro:property name="base_gripper_width" value ="0.08"/>
    <xacro:property name="base_gripper_height" value="0.03"/>
    <xacro:property name="gripper_length" value="0.05"/>
    <xacro:property name="gripper_width" value ="0.02"/>
    <xacro:property name="gripper_height" value="0.06"/>

    <xacro:property name="base_scara_mass" value="3.0"/>
    <xacro:property name="scara_support_mass" value="10.0"/>
    <xacro:property name="arm_mass" value="1.0"/>
    <xacro:property name="base_gripper_mass" value="0.2"/>
    <xacro:property name="gripper_mass" value="0.1"/>

    <xacro:macro name="support_link" params="prefix z">
        <link name="${prefix}_scara_link">
            <visual>
                <geometry>
                    <cylinder radius="${scara_support_radius}" length="${scara_support_length}"/>
                </geometry>
                <origin xyz="0 0 ${z}" rpy="0 0 0"/>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="${scara_support_radius}" length="${scara_support_length}"/>
                </geometry>
                <origin xyz="0 0 ${z}" rpy="0 0 0"/>
            </collision>
            <xacro:cylinder_inertia m="${scara_support_mass}" r="${scara_support_radius}" h="${scara_support_length}" 
                                    o_xyz="0 0 ${z}" o_rpy="0 0 0"/>
        </link>
    </xacro:macro>

    <xacro:macro name="arm_link" params="prefix">
        <link name="arm_${prefix}_link">
            <visual>
                <geometry>
                    <box size="${arm_length} ${arm_width} ${arm_height}"/>
                </geometry>
                <origin xyz="0.175 0 0" rpy="0 0 0"/>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${arm_length} ${arm_width} ${arm_height}"/>
                </geometry>
                <origin xyz="0.175 0 0" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${arm_mass}" x="${arm_length}" y="${arm_width}" z="${arm_height}"
                           o_xyz="0.175 0 0" o_rpy="0 0 0"/>
        </link>
    </xacro:macro>

    <xacro:macro name="gripper_link" params="prefix">
        <link name="${prefix}_gripper_link">
            <visual>
                <geometry>
                    <box size="${gripper_length} ${gripper_width} ${gripper_height}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${gripper_length} ${gripper_width} ${gripper_height}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${gripper_mass}" x="${gripper_length}" y="${gripper_width}" z="${gripper_height}"
                           o_xyz="0 0 0" o_rpy="0 0 0"/>
        </link>
    </xacro:macro>
    

    <link name="base_scara_link">
        <visual>
            <geometry>
                <box size="${base_scara_length} ${base_scara_width} ${base_scara_height}"/>
            </geometry>
            <origin xyz="0 0 0.04" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
                <geometry>
                    <box size="${base_scara_length} ${base_scara_width} ${base_scara_height}"/>
                </geometry>
                <origin xyz="0 0 0.04" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${base_scara_mass}" x="${base_scara_length}" y="${base_scara_width}" z="${base_scara_height}"
                           o_xyz="0 0 0.04" o_rpy="0 0 0"/>
    </link>

    <xacro:support_link prefix="first_support" z="0.025"/>
    <xacro:support_link prefix="second_support" z="0.025"/>
    <xacro:support_link prefix="movable" z="0"/>

    <xacro:arm_link prefix="1"/>
    <xacro:arm_link prefix="2"/>

    <link name="base_gripper_link">
        <visual>
            <geometry>
                <box size="${base_gripper_length} ${base_gripper_width} ${base_gripper_height}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="grey"/>
        </visual>
        <collision>
                <geometry>
                    <box size="${base_gripper_length} ${base_gripper_width} ${base_gripper_height}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${base_gripper_mass}" x="${base_gripper_length}" y="${base_gripper_width}" z="${base_gripper_height}"
                           o_xyz="0 0 0" o_rpy="0 0 0"/>
    </link>

    <xacro:gripper_link prefix="left"/>
    <xacro:gripper_link prefix="right"/>
    
------------------------------------------------------------

    <joint name="scara_base_first_support_joint" type="revolute">
        <parent link="base_scara_link"/>
        <child link="first_support_scara_link"/>
        <origin xyz="0.075 0 0.09" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>

        <limit lower="-3.14" upper="3.14" effort="500.0" velocity="1.0"/>
        <dynamics friction="20" damping="5" />

    </joint>

    <joint name="support_scara_joint" type="fixed">
        <parent link="first_support_scara_link"/>
        <child link="second_support_scara_link"/>
        <origin xyz="0 0 0.55" rpy="0 0 0"/>
    </joint>

    <joint name="first_support_movable_scara_joint" type="prismatic">
        <parent link="first_support_scara_link"/>
        <child link="movable_scara_link"/>
        <origin xyz="0 0 0.075" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="0" upper="0.45" effort="1000.0" velocity="0.5"/>
        <dynamics friction="50" damping="30"/>
    </joint>

    <joint name="movable_scara_arm_1_joint" type="fixed">
        <parent link="movable_scara_link"/>
        <child link="arm_1_link"/>
        <origin xyz="0.075 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="arm_joint" type="revolute">
        <parent link="arm_1_link"/>
        <child link="arm_2_link"/>
        <origin xyz="0.35 0 -0.05" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="500.0" velocity="3.0"/>
        <dynamics friction="15" damping="5" />
    </joint>

    <joint name="arm2_base_gripper_joint" type="revolute">
        <parent link="arm_2_link"/>
        <child link="base_gripper_link"/>
        <origin xyz="0.34 0 -0.040" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="80.0" velocity="1.0"/>
        <dynamics friction="5" damping="0.5" />
    </joint>

    <joint name="base_right_gripper_joint" type="prismatic">
        <parent link="base_gripper_link"/>
        <child link="right_gripper_link"/>
        <origin xyz="0 -0.07 -0.045" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="0" upper="0.04" effort="100.0" velocity="1.0"/>
        <dynamics friction="2.5" damping="0.8"/>
    </joint>

    <joint name="base_left_gripper_joint" type="prismatic">
        <parent link="base_gripper_link"/>
        <child link="left_gripper_link"/>
        <origin xyz="0 0.07 -0.045" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.04" upper="0" effort="100.0" velocity="1.0"/>
        <dynamics friction="2.5" damping="0.8"/>
    </joint>

</robot>
