<?xml version="1.0"?>
<robot name="orion_scara" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="orion_manipulator_scara.xacro"/>
    <xacro:include filename="orion_manipulator_scara_gazebo.xacro"/>
    <xacro:include filename="sensors/camera.xacro"/>
    <xacro:include filename="sensors/ultrassonic.xacro"/>
    <xacro:include filename="sensors/imus.xacro"/>
    
    <xacro:imu_sensor prefix="arm1" parent="arm_1_link" xyz="0 0 0"/>
    <xacro:imu_sensor prefix="arm2" parent="arm_2_link" xyz="0 0 0"/>
    <xacro:imu_sensor prefix="gripper" parent="base_gripper_link" xyz="0 0 0"/>
    <xacro:include filename="sensors/distance_laser.xacro"/>
    
    <xacro:include filename="world_sensor_plugins.xacro"/>
    
</robot>