[task-params]
task_type = container-filler
number_of_blocks = 1
tag_id_reference = 0

#apenas exemplo nao usar
[camera]
resolucao_x = 1920
resolucao_y = 1080
fps = 30
topico = /camera/image_raw

[caminhos]
modelo_ia = /home/vinicius/autobotz26_ws/src/orion_bringup/models/rede.pt