<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ultrasonic_module" params="
        parent
        name:=ultrasonic
        width:=0.02
        depth:=0.01
        mass:=0.05
        origin_xyz:='0 0 0'
        origin_rpy:='0 0 0'
        range_min:=0.02
        range_max:=4.0
        range_resolution:=0.01
        noise_stddev:=0.005
        update_rate:=20
        topic:=ultrasonic/range
    ">

        <link name="${name}_frame">
            <visual>
                <geometry>
                    <box size="${depth} ${width} ${width}"/>
                </geometry>
                <material name="blue"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${depth} ${width} ${width}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${mass}" x="${depth}" y="${width}" z="${width}"
                               o_xyz="0 0 0" o_rpy="0 0 0"/>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_frame"/>
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
        </joint>

        <gazebo reference="${name}_frame">
            <sensor name="${name}" type="gpu_lidar">
                <pose>0 0 0 0 0 0</pose>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>${update_rate}</update_rate>
                <topic>${topic}</topic>
                <gz_frame_id>${name}_frame</gz_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>1</samples>
                            <resolution>1</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${range_min}</min>
                        <max>${range_max}</max>
                        <resolution>${range_resolution}</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>${noise_stddev}</stddev>
                    </noise>
                </lidar>
            </sensor>
        </gazebo>

    </xacro:macro>

 <xacro:ultrasonic_module parent="second_support_scara_link"
    name="ultrasonic_height"
    origin_xyz="0 0 ${-scara_support_radius/2 + 0.03}"
    origin_rpy="0 1.5708 0"
    topic="ultrasonic/height"/>

</robot>